<div class="page-content fade-in-up bg-img">
    <div class="container-fluid">
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="row text-center">
            <div class="col-12">
                <h3 style="color: whitesmoke;"><b>DOACCOUNT</b></h3>
            </div>
        </div>
        <br>
        <br>
        <br>



        <br>
        <div class="row">
            <div class="col-6 text-right">
                <button class="btn btn-primary" (click)="Login()">LOGIN</button>

            </div>
            <div class="col-6 text-left">
                <button class="btn btn-primary" (click)="Register()">SIGNUP</button>
            </div>


        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>


        <div class="row text-center">
            <div class="col-12">
                <div style="color: whitesmoke;" class="font-13">2020 © <b>Real Data Online</b> - All rights reserved.</div>
            </div>
        </div>
    </div>
</div>