<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-12">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Party Management</div>
                </div>
                <div class="ibox-body">
                    <ul class="nav nav-tabs tabs-line">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-7-1" data-toggle="tab"><i class="fa fa-bar-chart"
                                    aria-hidden="true"></i>&nbsp;All Party</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-7-2" data-toggle="tab"><i
                                    class="fa fa-plus-circle" aria-hidden="true"></i> Create Party
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-7-3" data-toggle="tab"><i
                                    class="ti-settings"> </i> Update
                                Party
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">


                        <div class="tab-pane fade show active" id="tab-7-1">
                            <br>
                            <div class="row">
                                <div class="col-4">
                                    <mat-form-field style="margin-left: 2%">
                                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                                    </mat-form-field>
                                </div>
                            </div>


                            <div class="example-container">

                                <table mat-table [dataSource]="datasource" matSort>



                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Party Id
                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{element.id}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="party_legal_name">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Party Legal Name
                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{element.party_legal_name}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="party_email">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Party Email
                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{element.party_email}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="party_phone_no">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Party Phone No
                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{element.party_phone_no}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="per_addr">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Party Address
                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{element.per_addr}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="party_gstin_no">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Party GST NO
                                        </th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">
                                            {{element.party_gstin_no}} </td>
                                    </ng-container>




                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef class="right" mat-sort-header>Action</th>
                                        <td mat-cell flex-stretch *matCellDef="let element" class="right">

                                            <button class="btn btn-info" (click)="openUpdate(element)">Update</button>&nbsp;&nbsp;
                                            <button class="btn btn-danger" (click)="deleteParty(element)">Delete</button>&nbsp;&nbsp;

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                                    </tr>
                                </table>
                                <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
                            </div>

                        </div>

                        <div class="tab-pane fade" id="tab-7-2">
                            <br>
                            <div class="row">
                                <div class="col-3 text-right">
                                    <h6>Enter Party Name :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_legal_name']">
                                </div>
                                <div class="col-3 text-right">
                                    <h6>Enter Email :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_email']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3 text-right">
                                    <h6>Phone No :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_phone_no']">
                                </div>
                                <div class="col-3 text-right">
                                    <h6>GST No :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_gstin_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3 text-right">
                                    <h6>Permanent Address :</h6>
                                </div>
                                <div class="col-5">
                                    <textarea class="form-control" [(ngModel)]="partyObj['per_addr']"></textarea>
                                </div>
                                <!-- <div class="col-3 text-right">
                                    <h6>Enter Email :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_email']">
                                </div> -->
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-success" (click)="createParty()">Submit</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-7-3">
                            <br>
                            <div class="row">
                                <div class="col-3 text-right">
                                    <h6>Enter Party Name :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_legal_name']">
                                </div>
                                <div class="col-3 text-right">
                                    <h6>Enter Email :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_email']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3 text-right">
                                    <h6>Phone No :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_phone_no']">
                                </div>
                                <div class="col-3 text-right">
                                    <h6>GST No :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_gstin_no']">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3 text-right">
                                    <h6>Permanent Address :</h6>
                                </div>
                                <div class="col-5">
                                    <textarea class="form-control" [(ngModel)]="partyObj['per_addr']"></textarea>
                                </div>
                                <!-- <div class="col-3 text-right">
                                    <h6>Enter Email :</h6>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" [(ngModel)]="partyObj['party_email']">
                                </div> -->
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-12 text-center">
                                    <button class="btn btn-success" (click)="updateParty()">Submit</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>
            </div>

        </div>
    </div>

</div>

<ngx-spinner>Loading....</ngx-spinner>